
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700|Raleway:800,900');

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif; */

/*==============
  COLOR STYLES:

  black: #1B242B
  white: #FFFEFC
==============*/


/*BASE ELEMENTS*/

* {
  box-sizing: border-box;
}

.main-nav li {
  font-size: 1;
}

body {
  color: #1B242B;
  background-color: #FFFEFC;
  font-family: 'Cormorant Garamond', serif;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.369em;
  text-transform: uppercase;
  font-weight: 900;
  color: #1B242B;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
	font-size: 1.953em;
  text-transform: uppercase;
}

h2, p {
	text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
  color: #1B242B;
  text-decoration: none;
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

blockquote p {
  font-weight: bold;
}

/*CLASSES*/

.main-header {
  margin-bottom: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	background-color: #FFFEFC;
	top: 0;
	z-index: 100;
	width: 100%
}


.main-nav {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.main-nav a {
  margin-top: 5px;
  padding: 5px 15px;
  display: block;
  flex-grow: 1;
}

.name {
  color: #1B242B;
  margin-top: 0;
  margin-bottom: -10px;
}

.main-footer {
  text-align: center;
  font-size: 0.707em;
  background: #1B242B;
  color: #FFFEFC;
  padding: 5px;
  margin: 0;
}

.col {
  margin-bottom: 4em;
}


/*LAYOUT CONTAINERS*/

.about {
  margin-top: 120px;
  width: 100%;
  text-align: center;
}

.main-footer {
  text-align: center;
  font-size: 0.707em;
  background: #1B242B;
  color: #FFFEFC;
  padding: 5px;

}

/*PSEUDO CLASSES*/


/*==============
  MEDIA QUERIES
==============*/

@media (min-width: 769px) {

  a:hover {
    text-decoration: underline;
  }

  .col:hover img {
    filter: brightness(50%)
  }

  .col:hover p, .col:hover a {
    opacity: 1;
  }

  .col {
    height: 100vh;
  }

  body {
    font-size: 1.2em;
  }

  .main-header a {
    color: #1B242B;
  }

  .col a, .col p {
    color: #FFFEFC;
    opacity: 0;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
  }

  p {
    padding-left: 1em;
    padding-right: 1em;
  }

  .container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    position: relative;
    width: 100%;
    top: 0;
    max-height: 500px;
  }

  .about {
    width: 100%;
    order: -2;
  }

  .gallery, .shop {
    margin-left: 1em;
  }

  .blog, .shop, .gallery {
    max-width: 25%;
  }

  .blog {
    order: -1;
  }

  .blog img {
    background-color: black;
  }

  .blog-image, .shop-image, .gallery-image {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

}

@media (min-width: 1025px) {}

  .about p{
    max-width: 60%;
    margin: 0 auto;
  }

  .container {
    max-width: ;
    flex-basis: 0;
  }


}

/*CLEARFIX*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
