* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  font-size: 1.0625rem; }

body {
  overflow-x: hidden;
  font-family: "Lora", serif;
  background-color: #fefefb;
  height: 100vh;
  width: 100vw; }
  body p {
    color: rgba(21, 21, 21, 0.9);
    margin-bottom: 0.75rem; }

.index-body {
  overflow-y: hidden; }

h1, h2, h3, h4, h5 {
  color: #151515;
  margin: 1rem 0 1rem;
  font-family: 'Lora', serif;
  font-weight: 700;
  line-height: 1.15; }

.success-h1 {
  font-size: 4.209rem; }

h1 {
  font-size: 1.25rem;
  margin: 1rem 0 1rem;
  font-family: 'Lora', serif;
  font-weight: 700;
  line-height: 1.15; }

h2 {
  font-size: 1.563rem;
  margin: 3.157rem auto;
  background-color: #fefefb;
  color: #151515; }

h4 {
  font-size: 1.563rem; }

h5 {
  font-size: 1.25rem;
  color: #151515;
  text-align: center; }

main {
  grid-area: main;
  padding: 0.625rem;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 490px) {
    main {
      width: 80%; } }
  @media screen and (min-width: 640px) {
    main {
      width: 60%; } }
  @media screen and (min-width: 1024px) {
    main {
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    main {
      width: 40%; } }

section {
  margin: 1.0625rem 0 2.369rem 0; }

section header {
  padding: 0;
  background-color: #fefefb;
  color: #151515; }

p a {
  font-family: "Lora", serif;
  text-decoration: none;
  font-weight: 700;
  color: #b51500;
  transition: color .8s; }
  p a:hover {
    color: #151515; }

form {
  margin: 2.369rem 0;
  display: flex;
  flex-direction: column; }
  form input, form textarea {
    background-color: rgba(21, 21, 21, 0.05);
    font-size: 1.0625rem;
    padding: 0.625rem;
    font-family: "Lora", serif;
    width: auto;
    height: 2.369rem;
    margin-top: 0.625rem;
    border: none;
    border-radius: 2px; }
  form textarea {
    min-height: 400px;
    max-width: 100%;
    min-width: 100%; }
  form header h4 {
    text-align: center;
    margin: 0 auto; }

li a, h1 a {
  color: #151515;
  opacity: 0.8;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity .8s; }
  li a:hover, h1 a:hover {
    opacity: 1; }

.hidden {
  visibility: hidden;
  position: absolute; }

button {
  height: 50px;
  border-style: none;
  border: 1px solid #fefefb;
  border-radius: 2px;
  background-color: #b51500;
  color: #fefefb;
  margin-top: 0.625rem;
  width: 50%;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 16px;
  transition: color .2s ease-in, background-color .2s ease-in; }
  button:hover {
    cursor: pointer;
    background-color: #151515;
    color: #fefefb; }

.hero1, .hero2, .hero3,
.hero4, .hero5, .hero6 {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  transition: opacity 3s;
  z-index: -10; }

.hero1 {
  object-position: bottom right; }

@media screen and (min-width: 490px) {
  .hero2 {
    left: 0; } }

.hero4 {
  object-position: top right; }

.hero5 {
  object-position: top left; }

.hero3, .hero6 {
  object-position: bottom; }

@media screen and (min-width: 490px) {
  .narrow {
    display: none; } }
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .narrow {
    display: block; } }

.wide {
  display: none; }
  @media screen and (min-width: 490px) {
    .wide {
      display: block; } }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .wide {
      display: none; } }

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #151515;
  width: 100vw;
  z-index: -11; }

.liam {
  display: block;
  width: 50%;
  margin: 0 auto;
  border-radius: 50%; }
  @media screen and (min-width: 640px) {
    .liam {
      width: 40%; } }
  @media screen and (min-width: 1024px) {
    .liam {
      margin: 0 auto;
      width: 35%; } }

.thumb {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  margin: auto;
  transition: opacity .5s ease;
  cursor: pointer; }
  .thumb:hover {
    opacity: 0.8; }

@media screen and (min-width: 640px) {
  .wide-panel {
    grid-column-end: span 2; } }

.noOverflow {
  overflow: hidden; }

.lightbox {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefb;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .lightbox img {
    max-width: 100%;
    max-height: 93%;
    object-fit: contain;
    object-position: center;
    margin: auto; }

.show {
  visibility: visible; }

nav {
  grid-area: nav;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #151515;
  margin-top: 3.157rem;
  width: 100vw;
  height: 100vh;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.5s ease-in; }
  @media screen and (min-width: 568px) {
    nav {
      visibility: visible;
      position: static;
      display: inline-block;
      transform: translate3d(0, 0, 0);
      height: 45px;
      width: 60%;
      z-index: 1;
      background-color: #fefefb;
      margin-top: 0;
      margin-right: 1rem; } }
  @media screen and (min-width: 1024px) {
    nav {
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    nav {
      width: 45%; } }

.scroll-y {
  overflow-y: hidden; }

@media screen and (min-width: 568px) {
  .home-nav {
    background-color: #151515; } }

ul {
  height: 50%;
  list-style: none;
  margin-top: 7.478rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 568px) {
    ul {
      flex-direction: row;
      height: 45px;
      justify-content: space-between;
      margin: 0;
      background-color: #fefefb; } }

li {
  margin: 3.157rem;
  opacity: 0; }
  li a {
    font-weight: 400;
    color: #fefefb; }
  @media screen and (min-width: 568px) {
    li {
      opacity: 1;
      margin: 0; }
      li a {
        color: #151515; } }

.burger {
  position: static;
  margin: 5px 1rem 0 0;
  width: 30px;
  height: 30px; }
  @media screen and (min-width: 568px) {
    .burger {
      display: none; } }
  .burger div {
    color: #fefefb;
    width: 30px;
    height: 3px;
    margin: 7px 0;
    border-radius: 2px;
    transition: all .5s ease;
    background-color: #151515; }

.home-burger div {
  background-color: #fefefb; }

.burger div:first-child {
  margin-top: 0; }

.burger div:last-child {
  margin-bottom: 0; }

.active {
  transform: translate3d(0, 0, 0); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-10px, 8px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -3px); }

.controls {
  color: #151515; }

.next, .previous,
.close {
  cursor: pointer;
  opacity: 0.6;
  transition: all .3s ease-in;
  margin: 0 1.0625rem; }

.next:hover, .close:hover, .previous:hover {
  opacity: 1; }

.overflow-container {
  overflow: hidden; }

.controls {
  text-align: center;
  height: 50px; }

.gallery-main {
  width: 95%; }
  @media screen and (min-width: 490px) {
    .gallery-main {
      width: 85%; } }
  @media screen and (min-width: 640px) {
    .gallery-main {
      width: 75%; } }
  @media screen and (min-width: 1024px) {
    .gallery-main {
      width: 60%; } }

.success-container {
  margin: auto;
  text-align: center; }

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.sample-prints-container {
  display: flex;
  flex-direction: row;
  height: 30vh;
  margin: 0;
  overflow: scroll; }
  .sample-prints-container img {
    width: 30%; }

footer {
  grid-area: footer;
  text-align: center;
  color: white;
  opacity: 0.6; }

.overflow-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3.157rem minmax(90vh, auto) 3.157rem;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

.images {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 1.0625rem; }
  @media screen and (min-width: 640px) {
    .images {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: auto;
      grid-gap: 2.369rem; } }
  @media screen and (min-width: 1200px) {
    .images {
      grid-template-columns: 1fr 1fr 1fr; } }

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0; }
  header h1 {
    margin: 1rem;
    display: inline-block; }
    header h1 a {
      opacity: 1; }
    @media screen and (min-width: 640px) {
      header h1 {
        display: inline-block; } }

.main-header {
  margin: 0 auto;
  width: 100vw; }
  @media screen and (min-width: 1024px) {
    .main-header {
      width: 90vw; } }
  @media screen and (min-width: 1200px) {
    .main-header {
      width: 75vw; } }

.home-header {
  background-color: #151515; }
  .home-header h1 {
    color: #fefefb; }
  .home-header a {
    color: #fefefb; }

/*# sourceMappingURL=style.css.map */
