//  COLOR PALETTE
$dark: #151515;
$dark-text: rgba($dark, 0.9);
$light: #fefefb;
$shade: rgba($dark, .05);
$warning: red;
$success: green;
$accent: blue;
$brand: #b51500;


//  SPACING
$space1: 7.478rem;
$space2: 5.61rem;
$space3: 4.209rem;
$space4: 3.157rem;
$space5: 2.369rem;
$space6: 1.777rem;
$space7: 1.333rem;
$space8: 1rem;
$space9: 0.75rem;
$space10: 0.563rem;
$space11: 0.422rem;
$space12: 0.317rem;


//  TYPE 
$standard-font: 'Lora', serif;
$title-font: 'Lora', serif;


//  Perfect Fourth
$h1: 3.052rem;
$h2: 2.441rem;
$h3: 1.953rem;
$h4: 1.563rem;
$h5: 1.25rem;
$small: 0.8rem;


//  MEDIA QUERY BREAKPOINTS
$breakpoints: (
    // breakpoints
    'sm'    :   490px,
    'sm-med':   568px,
    'med'   :   640px,
    'large' :   1024px,
    'x-lg'  :   1200px,
    //  tweakpoints
    'tab-w'  :  768px,
    'tab-l'  :  1024px 
);