.overflow-container {
    overflow: hidden;
}

.controls {
    text-align: center;
    height: 50px;
}

.gallery-main {
    width: 95%;
    @include mq('sm') {
        width: 85%
    }
    @include mq('med') {
        width: 75%;
    }
    @include mq('large') {
        width: 60%;
    }
}

.success-container {
    margin: auto;
    text-align: center;
}


.image-container {
    @include absolute-zero;
    z-index: -1;
}

.sample-prints-container {
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin: 0;
    overflow: scroll;
    img {
        width: 30%;
    }
}