.overflow-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: $space4 90vh $space4;

    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}


.images {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: $space8;
    @include mq('med') {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
       grid-gap: $space5;
    }
    @include mq('x-lg') {
        // grid-auto-rows: 30vh;
        grid-template-columns: 1fr 1fr 1fr;
    }
}