header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $dark;
}

h1 {
    margin: 0;
    display: inline-block;
    a {
        opacity: 1;
    }
}