
header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $space8;
    h1 {
        margin: 0;
        display: inline-block;
        a {
            opacity: 1;
        }
        @include mq('med') {
            display: inline-block;
        }
    }
}

.main-header {
    margin: 0 auto;
    width: 100vw;
    @include mq('med') {
        width: 90vw;
    }
    @include mq('x-lg') {
        width: 75vw;
    }
}

.home-header {
    background-color: $dark;
    h1 {
        color: $light;
    }
    a {color: $light;}
}

