header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.home-header {
    background-color: $dark;
    h1 {
        color: $light;
    }
    a {color: $light;}
}

h1 {
    margin: 0;
    display: inline-block;
    a {
        opacity: 1;
    }
    @include mq('med') {
        display: inline-block;
    }
}