button {
    height: 50px;
    border-style: none;
    border: 1px solid $light;
    border-radius: 2px;
    background-color: $brand;
    color: $light;
    margin-top: $space10;
    width: 50%;
    font-family: $standard-font;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
    transition: color .2s ease-in, background-color .2s ease-in;
    &:hover{
        cursor: pointer;
        background-color: $dark;
        color: $light;
    }
}