
// .fg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: linear-gradient($dark 10%, 
//                                 rgba(0,0,0,0.2) 40%, 
//                                 transparent 80%);
//     z-index: -9;
// }

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero1, .hero2, .hero3,
.hero4, .hero5, .hero6 {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    transition: opacity 3s;
    z-index: -10;
}

.hero4 {
    object-position: top left;
}

.hero6 {
    object-position: top right;
}

.wide {
    display: none;
}

@media (min-width: 490px) {
    .hero2 {
        left: 0;
    }
    .wide {
        display: block;
    }
    .narrow {
        display: none;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .wide {
        display: none;
    }
    .narrow {
        display: block;
    } 
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: -11;
}
