
.image-container {
    @include absolute-zero;
    z-index: -1;
}

.hero1, .hero2, .hero3,
.hero4, .hero5, .hero6 {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    transition: opacity 3s;
    z-index: -10;
}

.hero2 {
    @include mq('sm') {
        left: 0;
    }
}

.hero4 {
    object-position: top left;
}
.hero5 {
    object-position: bottom;
}
.hero3, .hero6 {
    object-position: bottom right;
}

.narrow {
    @include mq('sm') {
        display: none
    }
    @include mob-mq('tab-w', 'tab-l') {
        display: block;
    }
}

.wide {
    display: none;
    @include mq('sm') {
        display: block;
    }
    @include mob-mq('tab-w', 'tab-l') {
        display: none;
    }
}

.hero-bg {
    @include absolute-zero;
    background-color: $dark;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: -11;
}

.liam {
    display: block;
    width: 50%;
    margin: $space1 auto;
    border-radius: 50%;
}
