

.hero1, .hero2, .hero3,
.hero4, .hero5, .hero6 {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    transition: opacity 3s;
    z-index: -10;
}

.hero1 {
    object-position: bottom right;
}

.hero2 {
    @include mq('sm') {
        left: 0;
    }
}

.hero4 {
    object-position: top right;
}
.hero5 {
    object-position: top left;
}
.hero3, .hero6 {
    object-position: bottom;
}

.narrow {
    @include mq('sm') {
        display: none
    }
    @include mob-mq('tab-w', 'tab-l') {
        display: block;
    }
}

.wide {
    display: none;
    @include mq('sm') {
        display: block;
    }
    @include mob-mq('tab-w', 'tab-l') {
        display: none;
    }
}

.hero-bg {
    @include absolute-zero;
    background-color: $dark;
    width: 100vw;
    z-index: -11;
}


//      ABOUT PAGE

.liam {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    @include mq('med') {
        width: 40%;
    }
    @include mq('large') {
        margin: 0 auto;
        width: 35%;
    }
}



//      GALLERY PAGE

.thumb {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
    transition: opacity .5s ease;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

.wide-panel {
    @include mq('med'){
    grid-column-end: span 2;
    }
}

.noOverflow {
    overflow: hidden;
}

.lightbox {
    visibility: hidden;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 93%;
        object-fit: contain;
        object-position: center;
        margin: auto;
    }
}

.show {
    visibility: visible;
}
