nav {
    grid-area: nav;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;

    top: 50px;
    width: 100vw;
    height: calc(100vh - 50px);
    transform: translate3d(100vw, 0, 0);

    background-color: tomato;
}

ul {
    padding: 0;
    height: 100%;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-around;
    li {
        margin: 2rem;
    }
}

.burger {
    position: fixed;
    top: 8px;
    right: 15px;
    width: 30px;
    height: 30px;
    div {
        width: 30px;
        height: 3px;
        margin: 7px 0;
        border-radius: 3px;
        background-color: white;
    }
}
