nav {
    grid-area: nav;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: $dark;
    margin-top: $space4;
    
    width: 100vw;
    height: 100vh;
    transform: translate3d(100vw, 0, 0);
    transition: transform 0.5s ease-in;
    @include mq('sm-med') {
        visibility: visible;
        position: static;
        display: inline-block;
        transform: translate3d(0, 0, 0);
        height: 45px;
        width: 60%;
        z-index: 1;
        background-color: $light;
        margin-top: 0;
        margin-right: 1rem;
    }
    @include mq('large') {
        width: 50%;
    }
    @include mq('x-lg') {
        width: 45%;
    }
}

.scroll-y {
    overflow-y: hidden;
}

.home-nav {
    @include mq('sm-med') {
        background-color: $dark;
    }
}

ul {
    height: 50%;
    list-style: none;
    margin-top: $space1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq('sm-med') {
        flex-direction: row;
        height: 45px;
        justify-content: space-between;
        margin: 0;
        background-color: $light;
    }
}

li {
    margin: $space4;
    opacity: 0;
    a {
        font-weight: 400;
        color: $light;
    }
    @include mq('sm-med') {
        opacity: 1;
        margin: 0;
        a {
            color: $dark
        }
    }
}

//  BURGER MENU ICON

.burger {
    position: static;
    margin: 5px 1rem 0 0;
    width: 30px;
    height: 30px;
    @include mq('sm-med') {
        display: none;
    }
    div {
        color: $light;
        width: 30px;
        height: 2px;
        margin: 7px 0;
        border-radius: 2px;
        transition: all .5s ease;
        background-color: $dark;
    }
}


.home-burger {
    div {
        background-color: $light;
    }
}

.burger div:first-child {
    margin-top: 0;
}
.burger div:last-child {
    margin-bottom: 0;
}

.active {
    transform: translate3d(0, 0, 0);
}


@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


//  IMAGE GALLERY NAV


.controls {
    color: $dark;
}

.next, .previous, 
.close {
    cursor: pointer;
    opacity: 0.6;
    transition: all .3s ease-in;
    margin: 0 $space8;
}

.next:hover, .close:hover, .previous:hover {
    opacity: 1;
}

