* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 14px;
    @include mq('sm') {
        font-size: 16px;
    }
    @include mq('x-lg') {
        font-size: 18px;
    }
}


body {
    overflow-x: hidden;
    font-family: $standard-font;
    background-color: $light;
    height: 100vh;
    width: 100vw;
    p {
        color: $dark;
        margin-bottom: $space9;
    }
}

.index-body {
    overflow-y: hidden;
}

h1, h2, h3, h4, h5 {
    color: $dark;
    @include headline;
}

h1 {
    font-size: $h2;
    @include headline;
    // @include mq('large') {
    //     font-size: $h2;
    // }
}

h2 {
    font-size: $h3;
    margin: $space4 auto;
    background-color: $light;
    color: $dark;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
    color: $dark;
    text-align: center;
}

main {
    grid-area: main;
    padding: $space8;
    width: 100%;
    margin: 0 auto;
    @include mq('sm') {
        width: 80%;
    }
    @include mq('med') {
        width: 60%;
    }
    @include mq('large') {
        width: 50%;
    }
    @include mq('x-lg') {
        width: 40%;
    }
}

section {
    margin: $space5 0;
}

section header {
    padding: 0;
    background-color: $light;
    color: $dark;
}


p a {
    font-family: $title-font;
    text-decoration: none;
    font-weight: 700;
    color: $brand;
    transition: color .8s;
    &:hover {
        color: $dark;
    }
}


//      FORM

form {
    display: flex;
    flex-direction: column;
    input, textarea {
        background-color: $shade;
        font-size: $space8;
        padding: $space10;
        font-family: $title-font;
        width: auto;
        height: $space5;
        margin-top: $space10;
        border: none;
        border-radius: 2px;
    }
    textarea {
        min-height: 400px;
        max-width: 100%;
        min-width: 100%;
    }
    header h4 {
    text-align: center;
    margin: 0 auto;
    }
}


li a, h1 a {
    color: $dark;
    opacity: 0.6;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity .8s;
    &:hover {
        opacity: 1;
    }
}
